black==22.1.0
click==8.0.4
greenlet==1.1.2
img2pdf==0.4.3
lxml==4.8.0
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
pikepdf==5.0.1
Pillow==9.0.1
platformdirs==2.5.1
playwright==1.19.0
playwright-stealth==1.0.5
pyee==8.1.0
pyparsing==3.0.7
tomli==2.0.1
websockets==10.1
